<div class="text-center">
  <br>

  <div class="mb-4">
    <% if @user.user_image.attached? %>
      <%= image_tag url_for(@user.user_image), alt: "Image", class: "profile-img" %>
    <% else %>
      <div class="mb-1">
        <%= image_tag "user.png" %>
      </div>
      <%= link_to "Last opp profilbilde",  edit_user_registration_path, class: "btn btn-secondary" %>
    <% end %>
  </div>

  <div class="mb-3">
    <h3> <%= @user.username %> </h3>
    <p> <%= @user.stories.size %> <%= "story".pluralize(@user.stories.size) %> </p>

    <% if @user == current_user %>
      <%= link_to "Endre min konto",  edit_user_registration_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>