<div class="container">
  <div class="row">

    <!-- <h2>Endre <%= resource_name.to_s.humanize %></h2> -->

    <h2>Endre konto</h2>

    <%= form_for(resource, as: resource_name, data: { turbo: false}, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <div class="mb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
        <%= error_message_on(f.object, :email) %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="mb-3">
        <%= f.label :password, "Nytt passord" %> <i>(la stå tom om du ikke ønsker å endre)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control"%>
        <%= error_message_on(f.object, :password) %>
        <% if @minimum_password_length %>

          <em><%= @minimum_password_length %> tegn minimum</em>
        <% end %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, "Bekreft nytt passord" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"%>
        <%= error_message_on(f.object, :password_confirmation) %>
      </div>

      <div class="mb-5">
        <%= f.label :current_password, "Nåværende passord" %> <br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control"%>
        <%= error_message_on(f.object, :current_password) %>
      </div>

      <div class="mb-4">
        <%= f.submit 'Oppdater', :class => 'btn btn-primary btn-block' %>
      </div>

    <% end %>

    <div class="mb-3">
      <%= button_to "Jeg vil slette kontoen min", registration_path(resource_name), method: :delete,
                    form: {data: {turbo_confirm: 'Are you sure?'}}, :class => 'btn btn-secondary btn-block' %>
    </div>

    <div class="mb-3">
      <%= link_to "Tilbake", :back %>
    </div>

  </div>
</div>



