<div id="<%= dom_id story %>" class="col-xl-3 col-lg-4 col-md-6">

  <%= link_to play_path story do %>
    <div class="card mb-1 mt-1 no-link h-100">
      <div class="card-body">
        <h5 class="card-title"><%= story.title %></h5>
        <p class="card-title"><%= story.user.username %></p>
        <p class="card-text" ><small class="text-muted"><%= t('.uploaded') %>
          <%= time_ago_in_words(story.created_at) %> <%= t('.ago') %> </small></p>
      </div>
    </div>
  <% end %>

</div>