<%= link_to play_path story do %>
  <div class="card mb-1 mt-1 h-100">
    <div class="card-body">
      <h5 class="card-title"><%= story.title %></h5>
      <% if story.thumbnail.blob.nil? %>
        <%= image_tag "https://picsum.photos/seed/picsum/300/300",class:"card-img-top rounded"  %>
      <% else %>
        <%= image_tag story.thumbnail,class:"card-img-top rounded story-img" %>
      <% end %>

      <p class="card-title mt-2"><%= story.user.username %></p>
      <div class="">
        <% i = 0 %>
        <% story.categories.each do |category| %>
          <% break if i > 2 %>
          <button class="btn btn-sm btn-outline-success"><%= category.name %></button>
          <% i+=1 %>
        <% end %>
      </div>
      <p class="card-text" ><small class="text-muted"><%= t('.uploaded') %>
        <%= time_ago_in_words(story.created_at) %> <%= t('.ago') %> </small></p>
    </div>
  </div>
<% end %>