<div class="container small-container">
  <div class="row">

    <h2> Last opp profilbilde </h2>

    <%= form_with(model: user) do |f| %>

      <div class="mb-3">
        <%= f.label :user_image, "Profilbilde", class: "form-label" %>
        <%= f.file_field :user_image, class: "form-control" %>
        <%= error_message_on(f.object, :profile_img) %>
      </div>

      <div class="mb-4">
        <%= f.submit :class => 'btn btn-primary btn-block' %>
      </div>
    <% end %>

    <div class="mb-3">
      <%= link_to t(".back"), :back %>
    </div>

  </div>
</div>




