<div>
  <h4><%= link_to playlist.title, playlist, class:"no-link" %></h4>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <% i = 0 %>
    <% playlist.playlist_stories.reverse_each do |ps| %>
      <% if i >=3 %>
        <div class="col-12 col-md-6 col-lg-3">
          <%= link_to playlist, class:"no-link" do %>
            <div class="card">
              <div class="card-body">
                <h6 class="card-title text-muted">+<%= playlist.playlist_stories.count-3 %> stories</h6>
              </div>
            </div>
          <% end %>
        </div>
        <% break %>
      <% end %>
      <% story = ps.story %>
      <div class="col-12 col-md-6 col-lg-3">
        <%= link_to playlist_play_story_path(playlist, ps) do %>
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title"><%= story.title %></h5>
              <p class="card-title"><%= story.user.username %></p>
              <div class="">
                <% j = 0 %>
                <% story.categories.each do |category| %>
                  <% break if j > 2 %>
                  <button class="btn btn-sm btn-outline-success"><%=category.name %></button>
                  <% j+=1 %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% i = i+1 %>
    <% end %>
  </div>
</div>