<%= form_with(model: story) do |form| %>
  <% if story.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
        <% story.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :story_file, class: "form-label" %>
    <%= form.file_field :story_file, class: "form-control" %>
  </div>

  <div>
    <%= form.number_field :user_id, id: :story_user_id, value: current_user.id, type: :hidden %>
  </div><br>

  <div class="mb-3">
    <div class="d-grid gap-2">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>

