<%= form_with(model: story) do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
    <%= error_message_on(form.object, :title) %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control", :size => "50x5" %>
    <%= error_message_on(form.object, :description) %>
  </div>

  <div class="mb-5">
    <%= form.label :story_file, class: "form-label" %>
    <%= form.file_field :story_file, class: "form-control" %>
    <%= error_message_on(form.object, :story_file) %>
  </div>

  <div>
    <%= form.number_field :user_id, id: :story_user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="mb-4">
      <%= form.submit class: 'btn btn-primary btn-block' %>
  </div>

<% end %>

