<div id="<%= dom_id story %>" class="feed_story">

  <div class="card">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <!-- Fjern denne if-setninga når vi har implementert rapportering av innlegg -->
    <% if user_signed_in? %>
      <li class="dropdown position-absolute top-0 end-0 mt-1" style="list-style-type: none;">
        <a href="#" class="nav-link" data-bs-toggle="dropdown" role="button" aria-expanded="false">
          <span class="material-icons" style="color:black;">more_vert</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end me-1">
          <% if user_signed_in? %>
            <!-- Edit story button -->
            <% if current_user.id == story.user_id %>
              <li>
                <%= link_to t('.edit_story'), edit_story_path(story), class: "dropdown-item" %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>
    <!-- Og fjern denne end taggen -->
    <div class="card-body px-5">
      <h5 class="card-title"><%= story.title %></h5>
      <p class="card-text"><%= story.user.username %></p>
      <p class="card-text"><%= story.description %></p>

      <!-- signed in -->
      <div class="row d-flex align-items-top justify-content-center">

          <!-- like og dislike buttons -->
          <div class="col-3 col-md">
            <div id="<%= "#{dom_id story}_like_btn" %>">
              <%= render "likes/like_button", story: story %>
            </div>
          </div>

        <div class="col-3 col-md">
          <div id="<%= "#{dom_id story}_dislike_btn" %>">
            <%= render 'dislikes/dislike_button', story: story %>
          </div>
        </div>


        <div class="col-3 col-md">
          <!-- Favorite button -->
          <div id="<%= "#{dom_id story}_favourite_btn" %>">
            <%= render 'favourites/favourite_btn', story: story %>
          </div>
        </div>

      </div>
      <br>
      <p class="card-text"><small class="text-muted"> <%= t('.uploaded') %> <%= story.created_at %></small></p>
    </div>
  </div>

</div>