<div class="swiper-slide">
  <div class="card text-center" style="width: 18rem;">
    <img src="https://picsum.photos/200" class="card-img-top" alt="Story image">
    <div class="card-body">
      <h5 class="card-title"><%= story.title %></h5>
      <p class="card-text">
        <%= story.description %>
      </p>
      <a href="#" class="btn btn-primary">idk, skal gjøre noe etterhvert kanskje</a>
    </div>
  </div>
</div>

<p class="story_link" hidden> <%= rails_blob_url(story.story_file) %> </p>
<p class="story_like_path" hidden> <%= button_to "Like", likes_path, params: { like: {story_id: story.id }}, method: :post %> </p>
<p class="story_dislike_path" hidden> <%= button_to "Dislike", dislikes_path, params: { dislike: {story_id: story.id }}, method: :post %> </p>