<div class="swiper-slide" id="<%= dom_id(story) %>">

  <div class="card text-center p-4 p-sm-2 p-md-1 w-100 w-md-50" style="width: 18rem;">

    <!-- Story bilde -->
     <img src="https://media.istockphoto.com/photos/3d-rendering-of-big-bonfire-with-sparks-and-particles-in-front-of-picture-id1154106926?k=20&m=1154106926&s=612x612&w=0&h=qgUVv_LiPZohE5aVa7H9Wi-2Xxz5JwX5PevnG0QkGHw=" class="card-img-top img-fluid" alt="Story image">

    <!-- Body -->
    <div class="row card-body position-relative align-items-end">

      <!-- Title og description -->
      <div class="col-10 text-start p-3">
        <h5 class="card-title"><%= story.title %></h5>
        <hr>
        <p class="card-text">
          <%= story.description %>
        </p>

      </div>

      <!-- Knappene -->
      <div class="col-2 p-1">
        <div class="row my-1">
          <div id="<%= "#{dom_id story}_favourite_btn" %>">
            <%= render 'favourites/favourite_btn', story: story %>
          </div>
        </div>
        <div class="row my-1">
          <div id="<%= "#{dom_id story}_like_btn" %>">
            <%= render "likes/like_button", story: story %>
          </div>
        </div>
        <div class="row my-1">
          <div id="<%= "#{dom_id story}_dislike_btn" %>">
            <%= render 'dislikes/dislike_button', story: story %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<p class="story_link" hidden> <%= rails_blob_url(story.story_file) %> </p>
<div class="story_like_path" hidden>

  <% like = current_user.likes.find_by(story: story) %>
  <% if like.nil? %>
    <%= button_to likes_path, params: { like: {story_id: story.id }}, method: :post do %>
      <span class="material-icons" style="color:white" >thumb_up</span>
    <% end %>
  <% else %>
    <%= button_to like_path(like), method: :delete do %>
      <span class="material-icons" style="color:royalblue">thumb_up</span>
    <% end %>
  <% end %>



</div>

<div class="story_dislike_path" hidden>

  <% dislike = current_user.dislikes.find_by(story: story) %>
  <% if dislike.nil? %>
    <%= button_to dislikes_path, params: { dislike: {story_id: story.id }}, method: :post do %>
      <span class="material-icons" style="color:white">thumb_down</span>
    <% end %>
  <% else %>
    <%= button_to dislike_path(dislike), method: :delete do %>
      <span class="material-icons" style="color: red">thumb_down</span>
    <% end %>
  <% end %>



</div>