<%= render "stories/partials/audio_controls"%>
<%= render "playlists/partials/playlists_modal", story: @story %>
<%= render "stories/partials/report_modal", story: @story %>

<div class="row">
  <div class="col-12 col-md-2 col-lg-3">

  </div>

  <div class="col-12 col-md-6 col-lg-6">
    <%= render "stories/partials/story_play" %>
  </div>

  <div class="col-12 col-md-4 col-lg-3">
    <%= render "stories/partials/suggestions" %>
  </div>
</div>


<div class="col-12" style="height: 170px"></div>
