<div class="d-flex flex-column justify-content-center align-items-center p-1">
  <div class="w-100 shadow">
    <%= render @story %>
  </div>

  <div class="card p-3 my-2 shadow w-75" data-controller="audioplayer">
    <div class="w-100">
      <div class="d-flex flex-row align-items-center justify-content-center">
        <p data-audioplayer-target="current_time">00:00</p>
        <p class="mx-1">/</p>
        <p data-audioplayer-target="total_time">00:00</p>
      </div>
      <progress data-audioplayer-target="progressbar" max="1" value="0" class="w-100"></progress>
    </div>

    <div class="d-flex flex-row align-items-center justify-content-center my-1">

      <% if @story.previous_newer.nil? %>
        <button class="material-icons btn btn-primary disabled">skip_previous</button>
      <% else %>
        <%= button_to "skip_previous", play_path(@story.previous_newer), class: "material-icons btn btn-primary", style: "color: white", id:"btn-prev", method: :get %>
      <% end %>

      <button id="button_toggle" class="material-icons btn btn-primary mx-2" style="color: white" data-action="click->audioplayer#toggle">
        play_arrow
      </button>

      <% if @story.next_older.nil? %>
        <button class="material-icons btn btn-primary disabled">skip_next</button>
      <% else %>
        <%= button_to "skip_next", play_path(@story.next_older), class: "material-icons btn btn-primary", style: "color: white", id:"btn-next", method: :get %>
      <% end %>

    </div>
    <div class="form-check form-switch d-flex justify-content-center">
      <div>
        <% if cookies[:autoplay] == "true" %>
          <input class="form-check-input" type="checkbox" role="switch" id="autoplay" data-action="click->audioplayer#toggle_autoplay" checked>
        <% else %>
          <input class="form-check-input" type="checkbox" role="switch" id="autoplay" data-action="click->audioplayer#toggle_autoplay">
        <% end %>
      </div>
      <div>
        <label class="form-check-label" for="autoplay">Autoplay next</label>
      </div>
    </div>
    <audio data-audioplayer-target="audio" src="<%= rails_blob_url(@story.story_file) %>" preload="metadata"></audio>
  </div>

  <div>
    <%= link_to "Tilbake til hjem", root_path, class: "btn btn-secondary"%>
  </div>
</div>
