<div id="playlist-form">
  <%= form_with(model: playlist) do |form| %>

    <div class="mb-3">
      <%= form.label :title, "Tittel", class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
      <%= error_message_on(form.object, :title) %>
    </div>

    <div class="mb-4">
      <%= form.submit "Opprett spilleliste", class: 'btn btn-primary btn-block' %>
    </div>

  <% end %>
</div>