<div class="container">

  <div class="row py-2">
    <div class="col">
      <h2><%= @playlist.title %></h2>
    </div>
    <div class="col text-end">
      <% if @playlist.playlist_stories.count > 0 %>
        <%= link_to t('.play_all'), playlist_play_story_path(@playlist, @playlist.playlist_stories.last), class:"btn btn-primary" %>
      <% else %>
        <h5> <%= t('.this_playlist_is_empty') %> </h5>
        <%= link_to t('.discorver stories'), root_path, class:"btn btn-secondary my-3" %>
      <% end %>
    </div>
  </div>

  <div class="col">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
      <% @playlist.playlist_stories.reverse_each do |playlist_story| %>
        <div class="col-12 col-md-6 col-lg-3">
          <%= render "playlists/partials/story_card", playlist_story: playlist_story %>
        </div>
      <% end %>
    </div>
  </div>

</div>