<h2><%= @playlist.title %></h2>
<h4><%= @playlist.id %></h4>

<% @playlist.playlist_stories.each do |playlist_story| %>
  <%= link_to playlist_play_story_path playlist_story do %>
    <% story = playlist_story.story %>
    <%= render "stories/partials/story_card", story: story %>
  <% end %>
<% end %>

<%= link_to "Spill av spilleliste", playlist_play_path, id: @playlist, class:"btn btn-primary" %>
