<div id="<%= dom_id report %>">
  <div class="card">
    <div class="card-header">
      <h2>
      <%= report.tittle %>
      </h2>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= report.status %></h5>
      <p class="card-text">
        <%= report.description %>
        <br>
        <br>
        User => <%= link_to "Profile", profile_path(report.userId) %>
        <% if report.reportable_type == "Story"%>
          <%= report.reportable_type %> => <%= link_to "Story", play_path(report.reportable_id) %>
        <% end %>
      </p>
    </div>
  </div>
</div>

