<nav class="navbar navbar-light d-lg-none p-0" style="background-color: #2B7A78; color:white">

  <div class="row container-fluid w-100 text-center m-1 p-0" >
    <div class="col p-1">
      <%= link_to root_path, class: "p-3 nav-icon" do %>
        <span class="material-icons">home</span>
      <% end %>
    </div>
    <div class="col p-1">
      <%= link_to new_story_path, class:"p-3 nav-icon" do %>
        <span class="material-icons">add_circle</span>
      <% end %>
    </div>
    <div class="col p-1">
      <%= link_to my_stories_path, class:"p-3 nav-icon" do %>
        <span class="material-icons">collections</span>
      <% end %>
    </div>
    <div class="col p-1">
      <%= link_to playlists_path, class:"p-3 nav-icon btn" do %>
        <span class="material-icons">list</span>
      <% end %>
    </div>

  </div>

</nav>

<%= content_for :bot_nav do %>

<% end %>